<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="AllowedFileType" value =".txt"></add>
    <add key="Delimiter" value =" "></add>
    <add key="SortedFileName" value ="sorted-names-list.txt"></add>
  </appSettings>
</configuration>